{% load static %}
<div class="about">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-5">
                <div class="about_img">
                    <figure><img src="{% static 'store/img/M.png' %}" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-7">
                <div class="titlepage">
                    <h2>О нас</h2>
                    <p>Кондитерская фабрика «Московские сладости» — динамично развивающееся кондитерское предприятие,
                        выпускающее продукцию с 2006 года. Продукция доставляется по всему Узбекистану и странам Азии.
                        На предприятии установлено высокотехнологичное оборудование ведущих российских и зарубежных
                        производителей.
                        Производственные процессы автоматизированы, что позволяет избежать человеческого
                        фактора.Использование натурального высококачественного сырья полуфабрикатов, успешное внедрение
                        инновационных разработок и действующая система контроля качества на всех этапах
                        производственного процесса обеспечивают высокий расход характеристики продукта позволяет.
                        Попробуйте кондитерские изделия «Московские сладости»!</p>
                </div>
            </div>
        </div>
    </div>
</div>