<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2"  style="margin-bottom:10px">
                    <ul class="location_icon">
                        <li>
                            <a href="https://www.google.com/maps/dir//75CM%2BFMH,+Zargarlik+ko'chasi,+Tashkent/@41.2711771,69.1141949,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x38ae89631324e2a3:0xa48e6da3df6396c0!2m2!1d69.1842348!2d41.2711983"><i
                                    class="fa fa-map-marker" aria-hidden="true"></i></a><br> Location
                        </li>
                        <li><i class="fa fa-text-center" aria-hidden="true"></i><br>MOSSLAD 2022</li>
                        <li><a href="tel:+998 97 333 08 70"><i class="fa fa-phone" aria-hidden="true"></i></a><br>+998 97 333 08 70</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>